* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
// HEADER.JSX
.head {
  background-color: #c6a865;
  .custom-dropdown-menu {
    min-width: 70px !important;
  }

  img {
    width: 20px;
    height: 25px;
  }
}
// NAVBAR.JSX
.navbar {
  img {
    width: 215px;
  }
  .dropdown-menu {
    min-width: 70px !important;
  }
  button {
    border: none;
    background-color: white;
  }
  .icon {
    font-size: 20px;
    transition: color 0.4s ease;
  }
  .icon:hover {
    font-size: 20px;
    color: #c6a865;
  }
  .badge {
    font-size: 12px;
    background-color: #c6a865;
  }
  .page{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.4s ease;
  }
  .page:hover{
    color: #c6a865;
  }
}
//FOOTER.JSX
.footer{
  background-color: #c6a865;
  color: white;
  p{
    font-size: 18px;
  }
  .menu{
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: color 0.4s ease;
  }
  .menu:hover{
    color: black;
  }
  .icon{
    color: white;
    font-size: 18px;
    transition: color 0.4s ease;
  }
  .icon:hover{
    color: black;
  }
}