* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Barlow", serif;
}
// HEADER.JSX
.head {
  background: rgb(17,36,198);
background: linear-gradient(90deg, rgba(17,36,198,1) 0%, rgba(200,36,36,1) 96%);
  .custom-dropdown-menu {
    min-width: 60px !important;
    z-index: 1050 !important;
    position: absolute;
  }
  .mode {
    border: none;
    background-color: transparent;
    color: white;
  }
  .lang {
    border: none;
    background-color: transparent;
    color: white;
  }

  img {
    width: 20px;
    height: 25px;
  }
}
// NAVBAR.JSX
.navbar {
  background-color: rgb(255, 255, 255);
  img {
    width: 180px;
  }
  .dropdown-menu {
    min-width: 70px !important;
  }
  button {
    border: none;
    background-color: white;
  }
  .icon {
    font-size: 20px;
    transition: color 0.4s ease;
  }
  .icon:hover {
    font-size: 20px;
    color: #bb7bbb;
  }
  .badge {
    font-size: 12px;
    background-color: #ba232f;
  }
  .page {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 0.4s ease;
  }
  .page:hover {
    color: #ba232f;
    font-weight: 600;
  }
  .active {
    color: #ba232f;
    text-decoration: none;
    font-weight: 500;
    font-weight: 600;
  }
}

//FOOTER.JSX
.footer {
  background-color: #f4f4f6;
  color: #373737;
  p {
    font-size: 18px;
  }
  .menu {
    text-decoration: none;
    color: #373737;
    font-size: 17px;
    transition: color 0.4s ease;
    font-weight: 600;
  }
  .menu:hover {
    color: #ba232f;
  }
  .icon {
    color: #373737;
    font-size: 18px;
    transition: color 0.4s ease;
  }
  .icon:hover {
    color: #ba232f;
  }
}
//ABOUT.JSX
.about {
  .container-fluid {
    .header {
      background-image: url("https://wallpaperaccess.com/full/1285952.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      position: relative;
      height: 150px;
      p {
        font-weight: bold;
        position: relative;
        z-index: 2;
      }
    }
    .header::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.205);
    }
  }
  .middle {
    h3 {
      border-radius: 10px;
      color: black;
      color: #6e906c;
    }
    p {
      font-size: 20px;
      color: rgb(100, 100, 100);
    }
    .key {
      font-size: 20px;
    }
    .icon {
      color: #6e906c;
    }
  }
  
}

//FAQ
.faq {
  .container-fluid {
    .five {
      h2 {
        color: white;
      }
      .accordion-item {
        background-color: white;
        border: 1px solid #ba232f;
        border-radius: 10px;
      }
      .accordion-button {
        background: transparent;
        outline: none;
        color: black;
        font-weight: 500;
      }
      .accordion-body {
        color: black;
      }
      .accordion-button:focus {
        box-shadow: none;
      }
      .accordion-button:not(.collapsed) {
        color: black;
        border-bottom: 2px solid #ba232f;
      }
      .accordion-button::after {
        background-image: none;
        content: "\f107";
        font-family: fontawesome;
        width: auto;
        height: auto;
        background-color: #F13D45;
        padding: 8px 10px;
        color: white;
        border-radius: 50%;
      }
    }
  }
}

//HOME.JSX
.home {
  .three{
    img{
      width: 100px;
    }
  }
  #carouselExampleAutoplaying {
    // margin-top:; /* Adjust this value as needed */
    // padding-top: 20px;
    margin-top: -100px;
  }
  .icon {
    color: #4b5945;
  }
  .first {
    p {
      font-size: 23px;
    }
    img {
      height: 650px;
    }
  }
  .carousel-item {
    p{
      color: #3e3cd8;
      font-size: 25px;
      font-weight: 500;
    }
    h1{
      font-size: 65px;
      color: #373737;
      font-weight: bold;
    }
    .shop{
      background-color: #373737;
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      border-radius: 10px;
      transition: background-color 0.4s ease;
    }
    .shop:hover{
      background-color: #F13D45;
    }
  }
  
  h2{
    font-weight: 600;
  }
  .category {
    border: 1px solid rgb(201, 200, 200);
    height: 220px;
    width: 250px;
    font-size: 34px;
    border-radius: 10px;
    .item{
      color: #9f9d9d;
      font-weight: normal;
    }
    h4 {
      color: #6e906c;
    }
    .next {
      font-size: 20px;
      border: none;
      background-color: rgb(0, 0, 0);
      color: white;
      border-radius: 50%;
    }
    p{
      font-size: 20px;
      font-weight: 500;
    }
    .capt{
      background-color: #f7f6f9;
      width: 100%;
      border-radius: 0px 0px 10px 10px;
      button{
        display: none;
        font-size: 13px;
        background-color: #373737;
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: background-color 0.4s ease;
      border: none;
      border-radius: 5px;
      transform: translateY(20px); /* Initially move down */
    animation: fadeUp 0.8s ease-out forwards;
        
      }
      @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
      button:hover{
        transition: background-color 0.4s ease;
        background-color: #F13D45;
      }
    }
  }
  .category:hover {
    .next {
      display: flex !important;
      transition: all 0.3s;
    }
  }
  .carousel-inner{
    img{
      object-fit: contain;
      background-size: cover;
    }
  }
}

//TopPicks
.top {
  background-color: rgba(226, 224, 224, 0.466);
  .image{
    background-color: white;
    width: 250px;
    height: 240px;
    border-radius: 10px;
  }
  .price{
    color: #6f6f6f;
    font-weight: 500;
  }
  img {
    width: 140px;
    height: 140px;
    border-radius: 20px;
  }
  .view {
    color: white;
    text-decoration: none;
    background-color: black;
    font-weight: 500;
    transition: background-color 0.3s ease-in;
    border-radius: 10px;
  }
  
  .view:hover {
    background-color: #F13D45;
  }
  .percent{
    position: relative;
    left: -98px;
    bottom: 370px;
    background-color: #0ea440;
    color: white;
    font-weight: 600;
    height: 26px;
    font-size: 18px;
  }
  .prev{
    text-decoration: line-through;
    color: #6f6f6f;
  }
  h1{
    font-weight: 600;
  }
  .cont{
    cursor: pointer;
  }
  .icon {
    color: black;
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border: 1px solid black;
    border-radius: 50%;
}
.icon:hover{
  color: white;
  background-color: #F13D45;
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
  border: 1px solid white;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.image:hover .icon {
    opacity: 1;
    transform: scale(1);
}
.star{
  font-size: 17px;
  color: orange;
}
}

.delivery {
  background-color: white;
  color: rgb(255, 255, 255);

  h4 {
    color: #4b5945;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
  .icon {
    font-size: 30px;
  }
  img{
    width: 200px;
  }
}

// Products
.products {
 
  background-color: #f4f4f6;
  .image{
    background-color: white;
    width: 250px;
    height: 240px;
    border-radius: 10px;
  }
  .price{
    color: #6f6f6f;
    font-weight: 500;
  }
  img {
    width: 140px;
    height: 140px;
    border-radius: 20px;
  }
  .percent{
    position: relative;
    left: -98px;
    bottom: 370px;
    background-color: #0ea440;
    color: white;
    font-weight: 600;
    height: 26px;
    font-size: 18px;
  }
  .prev{
    text-decoration: line-through;
    color: #6f6f6f;
  }
  h1{
    font-weight: 600;
  }
  .cont{
    cursor: pointer;
  }
  .icon {
    color: black;
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border: 1px solid black;
    border-radius: 50%;
}
.icon:hover{
  color: white;
  background-color: #F13D45;
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
  border: 1px solid white;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.image:hover .icon {
    opacity: 1;
    transform: scale(1);
}
.star{
  font-size: 17px;
  color: orange;
}
}

    .category:hover{
      .item{
        display: none;
      }
      .capt{
        button{
          display: block;
        }
      }
    }

    .motion{
      background: rgb(17,36,198);
background: linear-gradient(90deg, rgba(17,36,198,1) 0%, rgba(200,36,36,1) 96%);
font-size: 18px;
color: white;
font-weight: 500;
    }



    .sticky-top {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      background: white; /* Ensures the navbar background is visible */
      z-index: 1020; /* Keeps it above other elements */
    }

    .back{
      background: rgb(17,36,198);
      background: linear-gradient(90deg, rgba(17,36,198,1) 0%, rgba(200,36,36,1) 96%);
    }

    .del{
      background-color: #f4f4f6;
      border-bottom: 1px solid red;
      .icon{
        font-size: 30px;
        color: #F13D45;
      }
      h5{
        font-size: 23px;
        font-weight: 600;
      }
      p{
        font-size: 18px;
        color: #6f6f6f;
        font-weight: 500;
      }
    }











    //product
    .products{

      .icon-b{
        font-size: 20px;
        color: #F13D45;
      }
      .form{
        cursor: pointer;
        border: none;
        background-color: #f4f4f6;
        width: 200px;
        outline: none;
      }
      .element{
        border: none;
      }
     
      .sort{
        font-size: 18px;
        font-weight: 600;
      }
      label{
        font-size: 18px;
        color: #6f6f6f;
      }
      input[type="checkbox"] {
        appearance: none; /* Removes default checkbox styles */
        width: 13px;
        height: 13px;
        background-color: #dbdbdb; /* Default background */
        border-radius: 3px; /* Optional */
        cursor: pointer;
        display: inline-block;
        position: relative;
      }
      
      input[type="checkbox"]:checked {
        background-color: #F13D45; /* Background color when checked */
      }
      
      input[type="checkbox"]:checked::after {
        content: "✔"; /* Unicode tick symbol */
        font-size: 9px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
      }
      
      
      .custom-range {
        appearance: none;
        width: 100%;
        height: 6px;
        background: #ddd;
        border-radius: 5px;
        outline: none;
        transition: 0.3s;
      }
      
      .custom-range::-webkit-slider-thumb {
        appearance: none;
        width: 16px;
        height: 16px;
        background: #F13D45;
        border-radius: 50%;
        cursor: pointer;
      }
      
      .custom-range::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: #F13D45;
        border-radius: 50%;
        cursor: pointer;
      }
   
    }







    .immg{
      width: 360px;
    }


    .product-detail{
      background-color: #f4f4f6;
      span{
        font-size: 18px
      }
      .prev{
        color: #6f6f6f;
      }
      .container{
        background-color: white;
        border-radius: 20px;
        border: 1px solid #9f9d9d;
        width: 80%;
      }
      .btn{
        width: 50px;
        background-color: white;
      }
      .quan{
        border: 1px solid #9f9d9d;
        border-radius: 10px;
      }
      .add{
        width: 260px;
        height: 50px;
        border-radius: 10px;
      }
     h2{
      color: #F13D45;
     }
     .star{
      color: orange;
      font-size: 23px;
     }
     .pro{
      font-size: 20px;
     }
     .circle {
      color: #0ea440;
      box-shadow: 0 0 10px #0ea440;
      background-color: #0ea440;
      width: 13px;
      height: 13px;
      border-radius: 50%;
  }
  
     .buy{
      background-color: #F13D45;
      color: white;
      font-weight: 600;
      border: none;
      transition: background-color 0.5s ease;
     }
     .cart{
      background-color: white;
      font-weight: 600;
      transition: background-color 0.5s ease;
     }
     .cart:hover{
      background-color: #F13D45;
      color: white;
      border: none;
     }
     .buy:hover{
      background-color: black;
     }
     .inc{
      background-color: white;
      border: none;
      font-size: 20px;
      color: #9f9d9d;
      transition: color 0.4s ease;
     }
     .inc:hover{
      color: #F13D45;
     }
    }


    .des-add{
      button{
        background-color: transparent;
        border: none;
        font-size: 25px;
        font-weight: 500;
        outline: none;
        transition: color 0.5s ease;
      }
      button:hover{
        color: #F13D45;
      }
    }
    .text{
      p{
        font-size: 25px;
      }
    }

    .back-img{
      background-color: #b8b7b7;
      height: 150px;
      color: white;
    }

    .about{
      img{
        max-width: 480px;
        height: 240px;
        border-radius: 10px;
      }
      .para{
        font-size: 18px!important;
      }
      .end {
        h2 {
          // background-color: #4b5945;
          color: black;
          font-weight: 600;
        }
        img {
          width: 260px;
          height: auto;
          border-radius: 0;
        }
        p {
          color: #F13D45;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }

    .vision{
      background-color: #f1f1f1;
      height: auto;
      .icon{
        color: #F13D45;
        font-size: 34px;
        border-radius: 50%;
        background-color: white;
        width: 150px;
        height: 150px;
      }
     
      p{
        font-size: 18px;
        color: #6f6f6f;
      }
    }

    .contact{
      img{
        width: 100%;
        height: 500px;
      }
    }